.header {
   background: #212934;
}

.container-md {}

.height-8 {
   min-height: 80px;
}

body {
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 16px;
}

.header-button {
   border: 1px solid #C1A671;
   border-radius: 5px;
   background-color: transparent;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   padding: 15px 18px;
   box-shadow: none;
}

.header-button:active {
   box-shadow: none;
}

.header-button:hover {
   background-color: #C1A671 !important;
   border: 1px solid #C1A671 !important;
   box-shadow: none;
}

.header-button:focus {
   border: 1px solid #C1A671;
   border-radius: 5px;
   background-color: transparent;
   box-shadow: none;
}

.header__logo {
   font-weight: bold;
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
   text-decoration: none;
   transition: all .2s ease;
}

.header__logo:hover {
   color: #C1A671;
}

@media(max-width:640px) {
   .dn {
      display: none;
   }
}

.mt-8 {
   margin-top: 80px;
}

.date {
   position: relative !important;
}

.s1__time-wrap {
   position: relative !important;
}

.date::after {
   content: url('../img/calendar.png');
   position: absolute;
   right: 16px;
   top: 13px;
   width: 34px;
   height: 34px;
   z-index: 3;
}

.s1__time-wrap::after {
   content: url('../img/time.png');
   position: absolute;
   right: 16px;
   top: 15px;
   z-index: 3;
}

@media(min-width:900px) {
   .min-m {
      margin: 0 -28px;
   }
}

@media(max-width:1000px) {
   .s1__card {
      padding: 30px 11px !important;
   }
}


.s1__card {
   background: #212934;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   padding: 30px 20px;
   text-align: center;
}

.s1__card-text {
   font-family: Montserrat;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
}

.main {
   background-image: url(../img/s1-bg.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   /* min-height: 730px; */
   padding: 85px 0 36px 0;
}

.s1__title {
   font-weight: bold;
   font-size: 48px;
   line-height: 59px;
   color: #FFFFFF;
   margin-bottom: 55px;
}

.s1__subtitle {
   font-family: Montserrat;
   font-weight: bold;
   font-size: 24px;
   line-height: 170%;
   color: #FFFFFF;
}

.s1__form {
   background: rgba(255, 255, 255, 0.23);
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   max-width: 410px;
   width: 100%;
   padding: 45px 45px 30px 45px;
   margin-left: auto;
}

.s1__form input.spec {
   background: #E9E9E9;
   border-radius: 5px;
   border: none;
   margin-bottom: 22px;
   padding: 20px;
   font-family: Montserrat;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
   max-width: 100%;
   width: 100%;
}

.s1__form input.spec.active {
   background: #E9E9E9 !important;
   color: #000000 !important;
}

.s1__form input::placeholder {
   color: #000000;
}

.form-check-input[type=checkbox] {
   border-radius: 0px;
   border-color: #C1A671;
}

.form-check-input:checked {
   background-color: #C1A671;
   border-color: #C1A671;
}

.form-check-input:focus {
   box-shadow: none;
}

.s1__check {
   font-family: Montserrat;
   font-weight: 600;
   font-size: 12px;
   line-height: 15px;
   color: #FFFFFF;
   margin-left: 12px;
}

.s1_button {
   background: #212934;
   border: 1px solid transparent;
   margin: 0 auto;
   display: block;
   margin-top: 20px;
}

.datepicker-dropdown {
   transform: translate(-1px, 58px);
}

.datepicker-dropdown:after,
.datepicker-dropdown:before {
   display: none;
}

.datepicker-days {
   width: 301px;
   padding: 10px;
}

.table-condensed {
   width: 100%;
}

.table-condensed>tfoot {
   display: none;
}

.table-condensed>tbody {
   padding-bottom: 20px;
}


.datepicker-switch {
   font-family: Montserrat;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.12px;
   color: #000000;
   padding-top: 13px;
}

.dow {
   font-family: Montserrat;
   font-weight: 600;
   font-size: 10px;
   line-height: 16px;
   letter-spacing: 1.5px;
   color: #333333;
}

.day {
   font-family: IBM Plex Sans;
   font-weight: 500;
   font-size: 14px;
   line-height: 22px;
   letter-spacing: 0.22px;
   color: #7A7585;
   padding: 5px;
}

.old {
   color: #BDBDBD !important;
}

.active {
   color: #fff !important;
   position: relative !important;
   z-index: 2 !important;
   background-color: transparent !important;
}

.active::before {
   content: '';
   position: absolute;
   width: 32px;
   height: 32px;
   background: #BF0000;
   z-index: -1;
   top: 0;
   right: 50%;
   transform: translateX(50%);
   border-radius: 50%;
}

.numInpu {
   user-select: none;
}

.numInpu:active {
   user-select: none;
}

.numInpu:focus {
   user-select: none;
}

input:focus {
   box-shadow: none;
}

input:active {
   box-shadow: none;
}

@media (max-width: 1400px) {
   .s1__card {
      min-height: 150px;
      margin: 10px 0;
   }
}

@media (max-width: 768px) {
   .s1__form {
      margin: 0 auto;
      margin-top: 30px;
   }

   .s1__title {
      margin-bottom: 28px;
      font-size: 42px;
   }

   .s1__subtitle {
      font-size: 20px;
   }
}

@media (max-width: 576px) {
   .s1__title {
      font-size: 36px;
   }

   .s1__subtitle {
      font-size: 16px;
   }

   .main {
      padding: 45px 0 36px 0;
   }

   .s1__form {
      background: rgba(255, 255, 255, 0.23);
      box-shadow: 0px 0px 40px rgb(0 0 0 / 25%);
      border-radius: 10px;
      max-width: 410px;
      width: 100%;
      padding: 28px 8px 20px 8px;
   }
}

.s2__card {
   background: #FFFFFF;
   box-shadow: 0px 0px 10px rgba(163, 163, 163, 0.25);
   border-radius: 5px;
   max-width: 270px;
   margin: 0 auto;
   padding: 12px 25px 25px 25px;
}
@media(max-width:1200px){
   .s2__card {
  margin-bottom: 20px;
}
}
.s2__card-title {
   font-family: Montserrat;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   color: #000000;
   text-align: center;
}

.s2__card-price {
   font-family: Montserrat;
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   color: #BF0000;
}

.card__button {
   background: #212934;
   border-radius: 5px;
   padding: 15px 18px;
   font-family: Montserrat;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   cursor: pointer;
}